backups/2025-03-26/workflow_SubWorkflow3_jqjljajHCCam0QdE.json
{
  "createdAt": "2025-03-25T04:51:31.391Z",
  "updatedAt": "2025-03-25T09:14:32.511Z",
  "id": "jqjljajHCCam0QdE",
  "name": "SubWorkflow 3",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "168c4a39-c37f-4231-a5c9-2b55ecb7816e",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "4ec6674e-3bc9-4423-8da2-909ab042edc0",
      "name": "Webhook",
      "webhookId": "168c4a39-c37f-4231-a5c9-2b55ecb7816e"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1nkaDMuTrBxUk-73Ml1l1onBXG4y7g0Rm1EfVq6bVxrk",
          "mode": "list",
          "cachedResultName": "Email_Deliverability_Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nkaDMuTrBxUk-73Ml1l1onBXG4y7g0Rm1EfVq6bVxrk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nkaDMuTrBxUk-73Ml1l1onBXG4y7g0Rm1EfVq6bVxrk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow-1": "={{ $json.batch }} Executed",
            "Gmail": "={{ $json.Gmail }}"
          },
          "matchingColumns": [
            "Gmail"
          ],
          "schema": [
            {
              "id": "Gmail",
              "displayName": "Gmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "workflow-1",
              "displayName": "workflow-1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        420,
        0
      ],
      "id": "8fbdee64-7c1f-45c4-89cb-7dc6603d6537",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "723LV9KkD9NY2Bwt",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "ed2e9a6c-f8d4-4bdf-a57d-522292998b95",
      "name": "Split Out"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "600b8121-925b-4cc7-b2e0-feef77bccd09",
  "triggerCount": 1,
  "tags": []
}
